name: CI

permissions:
  contents: read

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install dependencies
        if: matrix.os == 'ubuntu-24.04-arm'
        run: sudo apt-get update && sudo apt-get install -y xorg-dev libglu1-mesa-dev
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go version
      - uses: taiki-e/install-action@just
      - run: just build
  test:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y xorg-dev libglu1-mesa-dev
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go version
      - uses: taiki-e/install-action@just
      - run: just test-ci
